*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

// TODO - consider changing if there's a better way
body,
#root {
  min-height: 100vh;
  background-color: #fafafa;
  font-family: "Mulish", sans-serif;
}

.toast--success {
  background-color: #00897b;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Bitter", serif;
}

.toast--error {
  background-color: #d32f2f;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Bitter", serif;
}

.react-autosuggest__container {
  position: relative;
  ::-webkit-scrollbar {
		width: 10px;
	  }
	  
	  /* Track */
	  ::-webkit-scrollbar-track {
		background: #f1f1f1; 
	  }
	   
	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: #888; 
	  }
	  
	  /* Handle on hover */
	  ::-webkit-scrollbar-thumb:hover {
		background: #555; 
	  }
}

.react-autosuggest__input {
  width: 35rem;
  height: 30px;
  padding: 10px ;
  font-family: "Mulish", sans-serif;
  border: 1px solid #aaa;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  overflow-y: scroll;
  height: auto;
  max-height: 20rem;
  
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 35rem;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family:  "Mulish", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  box-sizing: border-box;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}