.header {
  height: 9rem;
  background-color: #202020;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 9rem auto;
  align-items: center;

  &__logoWrapper {
    height: 7rem;
    width: 7rem;
  }

  &__logo {
    display: block;
    height: 100%;
    width: auto;
  }

  &__appTitle {
    color: #e0e0e0;
   // text-transform: uppercase;
  }

  &__userDropdown {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    //position: relative;
    z-index: 10;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    
    &:hover { cursor: pointer; }
  }

  &__userDropdownContent {
    position: absolute;
    width: 20rem;
    top: 5.5rem;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: transform .4s;
    transform-origin: top right;
    border: 1px solid #81858c;
  }

  &__userDropdownContent--hidden {
    transform: scale(0);
  }

  &__userDropdownContent--shown {
    transform: scale(1);
  }

  &__userDropdownIndicator {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 1rem;
    transition: transform .4s;
    
    &:hover { cursor: pointer; }
  }

  &__userDropdownIndicator--reversed {
    transform: rotate(-540deg);
  }

  &__dropdownOption {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    color: var(--bluePrimary);
    border: none;
    background-color: whitesmoke;
  }

  &__dropdownOption:hover {
    background-color: #202020;
    color: #eff1f3;
  }
}
.logout{
  font-size: 1.8rem;
  i{
    margin-right: 2px;;
  }
}
