.inputForm {
  padding: 3rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 4rem;
  }
}

.separator {
  grid-column: 1 / -1;
  margin: 2rem 0 1rem 0;
  display: flex;
  align-items: center;
  border-left: 2px solid #6d6d6d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &__lineBefore,
  &__lineAfter {
    display: inline-block;
    background-color: #6d6d6d;
    height: 2px;
    margin-top: -0.25rem;
  }

  &__lineBefore {
    width: 8rem;
  }

  &__lineAfter {
    flex: 1;
  }

  &__text {
    font-size: 1.5rem;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.submitButton {
  padding: 1.2rem 2rem;
  border-radius: 4px;
  display: block;
  margin: 3rem auto 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  color: #d82123;
  background-color: #fafafa;
  border: 2px solid rgba(#d82123, 0.85);
  transition: all 0.15s ease-in;
  cursor: pointer;

  &:hover {
    background-color: rgba(#d82123, 0.85);
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #ddd;
    color: #666;
    border-color: #666;
    cursor: not-allowed;
  }
}

.formControl {
  // background-color: gray;
  // position: relative;

  &__inputWrapper {
    display: flex;
    // position: relative;
  }
}

.inputLabel {
  display: block;
  color: #202020;
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-left: 0.25rem;
}

.inputField {
  padding: 1rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
}

.inputField1D__dropdown,
.inputField2D__dropdown1,
.inputField2D__dropdown2 {
  width: 10rem;
  text-align: center;
}

.inputField1D__dropdown {
  right: 0;
}

.inputField2D__dropdown1 {
  right: 7rem;
}

.inputField2D__dropdown2 {
  right: 0;
}

.downloadReport {
  :hover {
    font-weight: bold;
    border:none;
    border-bottom:2px solid #D82123
  }
}

