@mixin cardToggleBtn {
  &__btnType {
    outline: none;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #2d2e2e;
    border: none;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    // @include buttonNeumorphim;
    &-active,
    &:hover {
      outline: none;
      color: #fff;
      background-color: #002642;
    }
  }
}
