.transline {
  background-color: hsl(0, 0%, 95%);
  padding: 2rem 3%;

  @include cardToggleBtn();

  &__btnSilder_wrapper {
    margin-top: 2rem;
  }
  &__btn_silder {
    background: none;
    border: 1px solid #264d73;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: 0.8s;
    position: relative;
    font-size: 1.4rem;
    z-index: 0;
    color: #264d73;
    overflow: hidden;

    &-active,
    &:hover {
      color: #fff;
      background-color: #264d73;
      outline: none;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0 0 50% 50%;
      width: 100%;
      height: 0%;
      background-color: #264d73;
      z-index: -1;
      transition: 0.8s;
    }
    &-active,
    &:hover::before {
      height: 180%;
      outline: none;
      border: none;
    }
  }

}
