.adduser-button {
    padding: 0.5rem;
    border-radius: 3px;
    height: 36px;
    border: 1px solid #1e9e4c;
    color: #1e9e4c;
    transition: all 0.2s;
    font-weight: 700;
}

.adduser-button:hover {
    color: #fff;
    background-color: #1e9e4c;
    cursor: pointer;
}

.edit_user-button {
    margin: 5px;
    height: 26px;
    width: 55px;
    line-height: 26px;
    border: 1px solid #1e369e;
    color:  #1e369e;
    transition: all 0.2s;
    font-weight: bold;
    border-radius: 5px;
}

.edit_user-button:hover {
    color: #fff;
    background-color: #1e369e;
    cursor: pointer;
}

.delete_user-button {
    margin: 5px;
    height: 26px;
    width: 55px;
    line-height: 26px;
    color: #ea3a3a;
    font-weight: bold;
    border: solid 1px #ea3a3a;
    border-radius: 5px;
    cursor: pointer;
}

.delete_user-button:hover {
    background: #ea3a3a;
    color: #fff;
    cursor: pointer;
}

.admin__user-list {
    background: white;
    padding: 20px 0px;
    width: 100%;
    padding: 5px 0px;
    /* box-shadow: 0px 0px 2px -1px; */
    box-shadow: 1px 1px 1px lightgrey;

    max-height: 500px;
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
}

.upload-wrapper {
    padding: 1rem;
}

.upload-title {
    margin: 5;
    font-size: 17px;
}

.upload-wrapper {
    border: 1px solid #adadad;
    border-radius: 3px;
    border-bottom: none;
}

.upload-wrapper:last-of-type {
    border-bottom: 1px solid #adadad;
}

.upload-label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.create-user-button {
    margin-top: 8px;
    padding: 0.35rem 1rem;
    border-radius: 3px;
    border: 1px solid #494b4f;
    font-weight: 700;
    transition: all 0.15s;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.create-user-button:hover {
    background-color: #494b4f;
    color: #eee;
    cursor: pointer;
}