.Deletemodal__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    /* display: inline-block; */
    z-index: 10;
    height:100%;
    width: 100%;
  
    transform: scale(0);
    /* transform: translate(-50%, -50%) scale(0); */
    /* transform-origin: top left; */
    transition: transform 0.5s;
    /* -webkit-box-shadow: 0 0 10px #000; */
    /* box-shadow: 0 0 10px #000; */
    /* border:'1px solid #D9d9d9'; */
    /* border-radius:8; */
    /* padding-left: 1rem; */
  }
  
  .Deletemodal__wrapper--shown {
    transform: scale(1);
  }
  
  .Deletemodal {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    z-index: 20;
    height: 15rem;
    width: 35rem;
    font-size: 4rem;
    background-color: white;
    transform: translate(-50%, -50%) scale(0);
    /* transform-origin: top left; */
    transition: transform 0.5s 0.5s;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    border: "1px solid #D9d9d9";
    border-radius: 8;
  }
  .Deletemodal--shown {
    transform: translate(-50%, -50%) scale(1);
  }
  .Deletemodal__header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
  .Deletemodal__body {
    padding: 0.5rem 0.5rem;
  }
  .Deletemodal__content {
    margin-top: 1.4rem;
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
  }
  
  .Deletemodal__underline {
    margin: 0;
  }
  .Deletemodal__background--hightlight {
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color:#000;
    opacity: .5;
  }

  .delete-button {
    margin: 5px;
    height: 26px;
    width: 55px;
    line-height: 26px;
    color: #ea3a3a;
    font-weight: bold;
    border: solid 1px #ea3a3a;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background: #ea3a3a;
    color: #fff;
    cursor: pointer;
}

.cancel_delete-button {
    margin: 5px;
    height: 26px;
    width: 55px;
    line-height: 26px;
    color:  #1e9e4c;
    font-weight: bold;
    border: solid 1px  #1e9e4c;
    border-radius: 5px;
    cursor: pointer;
}

.cancel_delete-button:hover {
    background:  #1e9e4c;
    color: #fff;
    cursor: pointer;
}
  