.Idlemodal__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    /* display: inline-block; */
    z-index: 10;
    height: 100%;
    width: 100%;
  
    transform: scale(0);
    /* transform: translate(-50%, -50%) scale(0); */
    /* transform-origin: top left; */
    transition: transform 0.5s;
    /* -webkit-box-shadow: 0 0 10px #000; */
    /* box-shadow: 0 0 10px #000; */
    /* border:'1px solid #D9d9d9'; */
    /* border-radius:8; */
    /* padding-left: 1rem; */
  }
  
  .Idlemodal__wrapper--shown {
    transform: scale(1);
  }
  
  .Idlemodal {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    z-index: 20;
    height: 20rem;
    width: 50rem;
    font-size: 2rem;
    background-color: white;
    transform: translate(-50%, -50%) scale(0);
    /* transform-origin: top left; */
    transition: transform 0.5s 0.5s;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    border: "1px solid #D9d9d9";
    border-radius: 8;
  }
  .Idlemodal--shown {
    transform: translate(-50%, -50%) scale(1);
  }
  .Idlemodal__header {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin:2rem;
  }
  .Idlemodal__body {
    padding: 1rem 0.5rem;
  }
  .Idlemodal__content {
    font-size: 1.3rem;
    margin: 2rem;
  }
  
  .Idlemodal__underline {
    height: 1px;
    background-color: #ccc;
    border: none;
  }
  .Idlemodal__btn {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    display: flex;
    /* margin: 5px 5px 5px 10px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-left: 3rem; */
    height: 100%;
    width: 100%;
  }
  .Idlemodal__background--hightlight {
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color:#000;
    opacity: .5;
  }
  